*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Volkhov', sans-serif;
    text-decoration: none;
}

body{
    background:#f5f5f5;
}

/*Nav*/
.navbar{
    position:fixed;
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:transparent;
    z-index: 10;
}


.navbar.scrolled {
    background: rgba(255, 45, 141, 0.85); /* leve */
    backdrop-filter: blur(10px); /* efeito vidro */
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    padding: 15px 60px;
}


.navbar.scrolled .btn-login-header {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}


.navbar.scrolled .btn-login-header:hover {
  background: #fff;
  color: #ff2d8d;
  border-color: #fff;
}


.logo {
    height:50px;
}


.menu{
    display:flex;
    font-family: 'Volkhov', sans-serif;
    font-weight: bold;
    align-items:center;
    gap:20px;
}


.menu a{
    flex: 1;
    display: flex;
    justify-content: center;
    margin:0 15px;
    gap: 30px;
    text-decoration:none;
    color:#333;
}

/* depois do scroll, avaliar */
.navbar.scrolled .menu a {
    color: #1a1a1a; 
}



.login-section {
  display: flex;
  align-items: center;
  gap: 20px;
}


.btn-login-header {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #ff2d8d;
  background: transparent;
  color: #ff2d8d;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-login-header:hover {
    background-color: #ff2d8d;
    color: white;
}

.btn-login {
    display: flex;
    align-items: center;
    text-align: center;
    border:2px solid #ff2d8d;
    padding:4px 14px;
    border-radius:20px;
    color: white;
    background-color:#ff2d8d;
    cursor:pointer;
    gap: 6px;
}

.profile img{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.hero{
    position: relative;
    padding-top: 100px;
    margin-top: 100;
   
    min-height: 100vh;
    background-position:center;
    width: 100%;
    padding-bottom: 60px;
    display:flex;
    align-items:center;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.hero-content{
    width: 100%;
    margin-top: 90px;
    display: grid;
      grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.hero-subtitle {
  font-size: 14px;
  color: #0e0d0d;
  line-height: 1.5;
}


.hero-image{
    position:absolute;
    top: 0;
    left: 0                                   ;
    width:100%;
    height:100%;
    object-fit: cover;

    z-index: -1;
}

.hero-text{
  display: flex;
  flex-direction: column;
    color:rgb(15, 14, 14);
    max-width:500px;
    justify-content: left;
}

.hero-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 20px;
}


.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}







.hero h1{
    font-family:'Volkhov', serif;
    margin-bottom: 40px;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
    font-weight: bold;
    color: #1a1a1a;
}

.hero-subtitle {
  font-size: 14px;
  color: #0e0d0d;
  font-weight: 400;
  line-height: 1.6;
}

.config select {
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  font-size:14px;
}

.configuracao-viagem {
    position: absolute;
    top: 100px;
    left: 50%;
    width: 701px;
    height: 90px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 114px;
    background: white;
    padding: 20px 30px;
    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    z-index: 20;
}


.btn-primary{
    display: inline-flex;
    margin-top: 24px;
    width: 290px;
    height: 50px;
    align-items: center;
    background:#ff2d8d;
    gap: 10px;
    border:none;
    padding:12px 28px;
    color:white;
    font-size: 16px;
    font-weight: 600;
    border-radius:70px;
    cursor:pointer;
    
}

.search-box {
    position: absolute;
    bottom: 50px;
    left: 50px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background: #ffffff;
    border-radius: 50px;
    padding: 20px 25px;
    width: fit-content;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    margin: 90px auto;
}


.hero-images{
  position: relative;
  margin-left: auto;
margin-top: 80px;
padding-bottom: 120px;
   display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px; /* largura total das 4 imagens */
  height: 420px; /* altura das imagens */
  transition: 0.6s ease; 
}

.img-main{
  position: absolute;
  width: 100%;
top: 35%;
left: 10%;
  transition: 0.4s ease;
  z-index: 3;
}

.hero-images:hover .img-main{
  transform: scale(1.1);
}

.img-back{
  position: absolute;
  width: 180px;
  border-radius: 15px;
  z-index: 1;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
  transform: scale(1.05);
  transition: 0.4s ease;
}

.hero-images:hover .img-back{
  transform: scale(1.1);
}

.img1{
  top: 10%;
  left: -20px;
}

.img2{
  top: 70px;
  right: -40px;
}

.img3 {
  position: absolute;
   bottom: -40px;
   top: 60%;
  left: 5%;
  transition: 0.3s ease;
}



.btn-hero {
  position: relative;
  width: 170px;
  margin-top: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  align-self: center;
}

.btn-outline {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 2px solid #ff2d8d;
  background: transparent;
  color: #ff2d8d;
  padding: 8px 16px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-outline:hover {
    background-color: #ff2d8d;
    color: white;
}


.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 12px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
  color: #666;
}

.features{
  position: relative;
  margin-bottom: 220px;
    text-align: center;
    padding-bottom: 40px;
     padding: 100px 60px 80px;
   
}

.icon {
    object-fit: contain;
}

.features h2 {
    justify-content: center;
    font-family:'Volkhov', serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.features-desc {
    justify-content: center;
    margin-bottom: 80px;
     line-height: 1.6;
  color: #070707;
  margin-bottom: 40px;
}

.feature{ 
    width:250px;
    justify-content: center;
    gap: 16px;
    padding: 0%;
}

.feature h3{
    font-family:'Volkhov', serif;
    font-weight: bold;
}

.feature-container{
   position: relative;
    z-index: 2;
    display:flex;
    justify-content:center;
    gap:100px;
    margin-top:40px;
    text-align: center;
}



.mala-feature{
    position: absolute;

    width: 380px;   /* ajuste conforme Figma */
    height: auto;

    bottom: -300px;  /* fica “saindo” da seção */
    left: -40px;     /* posição lateral igual design */
  /* efeito decorativo leve */
    filter: blur(0.5px);
overflow: hidden;
    z-index: 0;
    pointer-events: none;
}




.destinos{
    position: relative;
    margin-bottom: 120px;
    padding:60px;
    text-align:center;
    overflow: hidden;
}

#destinos {
  scroll-margin-top: 120px;
}

.destinos h2{
    font-family:'Volkhov', serif;
    font-weight: bold;
}

.destinos::before,
.destinos::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.destinos::before {
  left: 0;
  background: linear-gradient(to right, #f5f5f5, transparent);
}

.destinos::after {
  right: 0;
  background: linear-gradient(to left, #f5f5f5, transparent);
}

.destinos p {
font-weight: 36px;
}

.card-container{
    display:flex;
    gap: 25px;
    margin-top: 30px;
    padding-bottom: 10px;
    justify-content:center;
    margin-top:30px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory; /*alinha os cards ao scrollar*/
    scroll-behavior: smooth;
    flex-wrap: nowrap; 
    -webkit-overflow-scrolling:touch
} 


.card-container::-webkit-scrollbar {
  display: none; /* esconde a barra de rolagem no Chrome */
}

.card{
    background:white;
    width: 300px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0px 3px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-width: 250px; /*garante que os cards não fiquem muito pequenos*/
    flex: 0 0 auto; /*impede que os cards encolham ou cresçam*/
    transform: center;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
  transition: all 0.5s ease; box-shadow: 0.5s ease;
}


.card img {
  object-position: center;
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px; /* Espaço entre top-section e location */
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*//observar o carrossel*/

.carrossel-wrapper {
  position: relative;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.prev { left: -15px; }
.next { right: -15px; }



.top-section h4 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.rating {
    font-size: 14px;
    color: #333;
    background: #f5f5f5;
    padding: 4px 8px;
    border-radius: 8px;
    white-space: nowrap;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.dot {
    width: 8px;
    height: 8px;
    background: #090909;
    border-radius: 50%;
    display: inline-block;
}


.card button{
    margin-top:10px;
    padding:8px 15px;
    border:none;
    background:#6c2bd9;
    color:white;
    border-radius:20px;
    cursor:pointer;
     transition: 1.3s;
}

.button:hover {
    background: #ff4da6;
    transition: 0.3s;
}

.depoimentos {
  flex: 1;
  max-width: 500px;
  text-align: left;
  gap: 20px;
}

.depoimentos h1{
    font-family:'Volkhov', serif;
    font-size: 51px;
}

.depoimentos h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.depoimentos p {
  color: #090909;
}

.avaliacao {
   flex: 1;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 20px;
 width: 100%;
  gap: 20px;
  justify-content: flex-end; /* joga pro lado direito */
  
  height: 180px;

  overflow: hidden;

  scroll-behavior: smooth;
}

.review-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.reviews {
  padding: 60%px;
  margin-top: 100px;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

  padding: 60px;
}

.review-img {
  position: absolute;
  top: -25px;
  left: 20px;

  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
 
}

#clientes {
  scroll-margin-top: 120px;
}

.review-card {
  position: relative;
  margin-top: 30px;
  background: rgb(209, 207, 207);
  padding: 25px;
   min-width: 10%;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
   overflow: visible;
  max-width: 350px;
   opacity: 0;
  transform: translateX(100px);
  transition: all 0.5s ease;
}

.review-card.active {
  opacity: 1;
  transform: translateX(0);
 
}

.review-card p {
  font-style: italic;
  margin-bottom: 10px;
}

.review-card span {
  font-weight: bold;
  color: #333;
}


.review-card:nth-child(2) {
  transform: translateX(25px) scale(0.97);
  opacity: 0.6;
  z-index: 2;
}

.review-card:nth-child(3) {
  transform: translateX(50px) scale(0.94);
  opacity: 0.3;
  z-index: 1;
}






/* setinhas */
.review-controls {
  position: absolute;
  bottom: -40px;
  right: 0;
  display: flex;
  gap: 10px;
}

.review-controls button {
  width: 40px;
  height: 40px;

  background: rgb(148, 148, 148);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
   box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.review-controls button:hover {
  transform: scale(1.1);
}

.review-wrapper {
  display: flex;
  justify-content: center;
}

.review-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
   max-width: 1200px;
  margin: 0 auto;

  gap: 120px;
  gap: 60px;
  position: relative;
  width: 100%;
}












@media (max-width: 768px) {
  .reviews {
    flex-direction: column; /* empilha */
    align-items: center;
    text-align: center;
  }
}

.newsletter{
    position: relative;
    margin:60px auto;
    max-width: 900px;
    background:#ff2d8d;
    color:white;
    text-align:center;
    padding:40px;
    border-radius:15px;
}

.newsletter h2 {
    font-family:'Volkhov', serif;
}

.aviao {
    position: absolute;
    width: 330px;
    height: auto;
    left: -160px;  
    right:auto; 
    bottom: -118px; 
    width: 140px;

  transform: rotate(-5deg);
   pointer-events: none;
    z-index: 1;
}

.newsletter-container{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}
.newsletter input{
    padding:10px;
    border:none;
    border-radius:20px;
    width: 300px;
    outline: none;
    
}

.newsletter button{
    padding:10px 18px;
    border:none;
    background:#ff2d8d;
    color:white;
    border-radius:20px;
    cursor: pointer;
    transition: 0.3s;
}
.newsletter-form {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
}

.newsletter-form input {
  width: 100%;
  padding: 14px 120px 14px 20px; /* espaço pro botão */
  border: none;
  border-radius: 30px;

  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
  outline: none;
  font-size: 14px;
}


.newsletter-form button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);

  background: #ff2d8d;
  color: white;
  border: none;

  padding: 10px 18px;
  border-radius: 25px;
  font-weight: 600;

  cursor: pointer;
}

.footer {
    background:#bcbcbc;
    padding:40px;
    text-align:center;
    font-size:14px;
}


.footer-container {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 40px;
}

.footer-about h2 {
  margin-bottom: 10px;
}

.footer-about p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}


.social {
  display: flex;
  gap:10px;
  margin-top: 15px;
}

.social a {
  width: 40px;
  height: 40px;
  background: #000;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s;
}

.social a:hover {
  background: #ff4da6;
}
.footer-links h2, 
.footer-links h3 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.footer-links {
    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
     gap: 40px;
    padding: 40px;
    
}


.footer-bottom {
    width: 100%;
  text-align: center;
  margin-top: 30px;

  border-top: 1px solid #999;/*linha de separação*/
  padding-top: 15px;

  font-size: 13px;
  color: #999;
}





  @media (max-width: 768px) {

    .navbar {
    padding: 20px;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .hero-images {
    width: 300px;
    height: 300px;
  }

  .feature-container {
    flex-direction: column;
    align-items: center;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding:60px 0;
  }

  .card {
    min-width: 220px;
  }
}

@media (max-width: 480px) {

  .card {
    min-width: 180px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .configuracao-viagem {
    flex-direction: column;
    border-radius: 20px;
  }

}

.menu a{
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.5s ease;
} 


